body,
input {
  color: $cl-neutral-5;
  font-family: averta, helvetica, arial;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
span {
  margin: 0;
  font-family: averta, helvetica, arial;
  font-weight: 400;
}

a {
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  padding: 4px;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 56px;
}

h3 {
  font-size: 48px;
}

p,
li {
  font-size: 24px;
  font-weight: 600;
}

strong {
  font-size: 24px;
  font-weight: 800;
}
