.c-fit-group {
  @include flex-item(100%);
  @include flex-container(center);
}

.c-fit-group__header {
  @include flex-item(100%);
  @include flex-container(center, center);
  margin-bottom: 8px;
  padding: 24px;
  background: linear-gradient(to left, $cl-fit-purple , $cl-fit-blue);
  color: $cl-white;

  > h1,
  h3 {
    width: 100%;
    text-align: center;
  }
}

.c-fit-group__header-actions {
  flex-basis: 100%;
  @include flex-container(center, center);

  > a,
  p {
    padding: 4px;
    transition: color 0.3s;
    color: $cl-white;
    font-size: 24px;
    cursor: pointer;

    &:hover {
      color: $cl-neutral-3;
    }
  }
}

.c-fit-group__user-container {
  @include flex-item(400px);
  @include flex-container(center);
  position: relative;
  height: 400px
  margin: 16px;
  transition: box-shadow 0.3s;
  border-radius: 8px;
  background-color: $cl-neutral-4;
  color: $cl-white;
  box-shadow: 0 0 16px $cl-neutral-6;
  overflow: hidden;
}

.c-fit-group__user-container.c-fit-group__user-container--link {


  &:hover {
    box-shadow: 0 0 16px 4px $cl-neutral-6;
  }
}

.c-fit-group__user-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  background-color: rgba($cl-white, 0.5);
  color: $cl-neutral-6;
}
